body {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
}

.link--query {
  text-decoration: none !important;
}

.navbar-custom {
  position: fixed;
  width: 88.7%;
  top: 0;
}

.cursor {
  cursor: pointer;
}

th {
  white-space: nowrap;
}

.pagination-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 7px;
  font-size: 1.2rem;
  text-align: center;
}

.pagination-btn:hover {
  opacity: 0.75;
}

.pagination-container {
  white-space: nowrap;
}

@media screen and (max-width: 990px) {
  .pagination-container {
    overflow: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
}